<nav class="zl-nav" aria-label="主导航">
        <div class="zl-nav__inner">
            <div class="zl-brand-stack">
                <a class="zl-brand" href="index.html">
                    <img src="assets/images/zhongliang-logo-light.svg" alt="中粮天下">
                </a>
            </div>
            <ul class="zl-menu">
            <li><a href="index.html">首页</a></li>
            <li><a href="about.html">公司介绍</a></li>
            <li><a href="product.html">交易中心</a></li>
            <li><a href="blog.html">资讯</a></li>
            <li><a href="personal-home.html">个人主页</a></li>
            </ul>
            <div class="zl-actions">
                <a class="zl-btn zl-btn--ghost" href="login.html">账号登录</a>
                <a class="zl-btn zl-btn--primary" href="login.html#signup">注册</a>
            </div>
        </div>
    </nav>

